/*
┏━╸┏━┓┏┓╻╺┳╸┏━┓
┣╸ ┃ ┃┃┗┫ ┃ ┗━┓
╹  ┗━┛╹ ╹ ╹ ┗━┛
*/
:root {
  --main-font: "FantasqueSansM Nerd Font";
}

pre, code, samp, var
{
  font-family: var(--main-font) !important;
}

/*
┏━┓┏━╸┏━┓┏━┓╻  ╻  ┏┓ ┏━┓┏━┓
┗━┓┃  ┣┳┛┃ ┃┃  ┃  ┣┻┓┣━┫┣┳┛
┗━┛┗━╸╹┗╸┗━┛┗━╸┗━╸┗━┛╹ ╹╹┗╸
╻ ╻╻╺┳┓╺┳┓┏━╸┏┓╻
┣━┫┃ ┃┃ ┃┃┣╸ ┃┗┫
╹ ╹╹╺┻┛╺┻┛┗━╸╹ ╹
*/

:root {
  scrollbar-width: none !important;
}

@-moz-document url(about:privatebrowsing) {
  :root {
    scrollbar-width: none !important;
  }
}

/*
╻ ╻┏━┓┏┳┓┏━╸┏━┓┏━┓┏━╸┏━╸
┣━┫┃ ┃┃┃┃┣╸ ┣━┛┣━┫┃╺┓┣╸
╹ ╹┗━┛╹ ╹┗━╸╹  ╹ ╹┗━┛┗━╸
*/

@-moz-document url("about:home"), url("about:newtab"){
    .search-wrapper,
    .top-site-outer .title{
        font-family: var(--main-font) !important;
    }

    .top-site-outer .title{
        font-size: 1rem !important;
    }

    .top-site-outer .top-site-inner > a {
        padding: 10px 10px 4px !important;
    }

    .search-handoff-button, .search-wrapper input {
        background: #d8d8d81f !important;
        border-radius: 5px !important;
    }

    #newtab-search-text::placeholder {
        opacity: 0 !important;
    }
    :root[lwt-newtab-brighttext]{
            --newtab-primary-action-background: transparent !important;
    }

    .search-wrapper .search-button,
    .search-wrapper .logo-and-wordmark .logo,
    .fake-textbox,
    .top-site-outer .tile,
    .icon.icon-pin-small {
        display: none !important;
    }

}
